$admonition-note-color:         #1f83b4;
$admonition-danger-color:       #d63a3a;
$admonition-important-color:    #ff7f0e;
$admonition-tip-color:         #2ca030;
$admonition-background-color: #f9f8f8;

.admonition {
    margin: 20px 0;
    padding: 0px 20px 20px 20px;
    border-radius: 3px;
    background: $admonition-background-color;

    &.note {
        > .admonition-header {
            background: $admonition-note-color;
        }
    }

    &.tip {
        >.admonition-header {
            background: $admonition-tip-color;
        }
    }

    &.danger {
        > .admonition-header {
            background: $admonition-danger-color;
        }
    }

    &.important {
        > .admonition-header {
            background: $admonition-important-color;
        }
    }

    > .admonition-header {
        display: inline-block;
        color: #fff;
        margin: 0 0 10px;
        font-size: .83333rem;
        padding: 0 0.5em;
        border-radius: .45rem;
        transition: 0.3s ease-out;
        translate: -30px -10px;
        text-transform: uppercase;
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
